<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Browse and filter your dataset</h1>
        <form method="GET">
            <label for="title">Filter the title:</label>
            <input type="text" id="title" name="title">
            <label for="year">Filter the release date:</label>
            <input type="number" id="year" name="year">
            <input type="submit" value="Filter">
        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Score</th>
                        <th>Release Date</th>
                        <th>Link</th>
                        <th>Genres</th>
                        <th 
                            {% if is_movie %}style="display: table-cell;"
                            {% else %}style="display: none;"
                            {% endif %}>Runtime
                        </th>
                        <th>Description</th>
                        <th>Director</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td><a href="{{ row[4] }}" target="_blank">Link to the site</a></td>
                        <td>{{ row[5] }}</td>
                        <td 
                            {% if is_movie %}style="display: table-cell;"
                            {% else %}style="display: none;"
                            {% endif %}>{{ row[6] }}
                        </td>
                        <td>
                            <div class="description">{{ row[7] }}</div>
                            <button class="showBtn">Show</button>
                            <button class="hideBtn" style="display: none;">Hide</button>
                        </td>
                        <td>{{ row[8] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var showButtons = document.querySelectorAll(".showBtn");
            var hideButtons = document.querySelectorAll(".hideBtn");
    
            showButtons.forEach(function(btn, index) {
                btn.addEventListener("click", function() {
                    var description = this.parentNode.querySelector(".description");
                    var hideBtn = this.parentNode.querySelector(".hideBtn");
    
                    description.style.display = "block";
                    hideBtn.style.display = "inline-block";
                    this.style.display = "none";
                });
            });
    
            hideButtons.forEach(function(btn, index) {
                btn.addEventListener("click", function() {
                    var description = this.parentNode.querySelector(".description");
                    var showBtn = this.parentNode.querySelector(".showBtn");
    
                    description.style.display = "none";
                    showBtn.style.display = "inline-block";
                    this.style.display = "none";
                });
            });
        });
    </script>
</body>
</html>
