<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Genre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose Genre</h1>
        <form method="POST">
            <div class="center">
                <select name="genre" multiple>
                    {% for genre in genres %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Choose">
        </form>
    </div>
</body>
</html>
