<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Type</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose a Movie or a TV Show</h1>
        <form method="POST">
            {% for key, value in types_links_dict.items() %}
                <input type="radio" name="type" value="{{ value }}"> {{ key }}<br>
            {% endfor %}
            <input type="submit" value="Choose">
        </form>
    </div>
</body>
</html>
